# .pre-commit-config.yaml
repos:
- repo: local
  hooks:
    - id: pytest
      name: pytest
      entry: pytest
      language: python
      types: [python]
      pass_filenames: false
      additional_dependencies:
        - pytest
        - pytest-mock
        - pydantic
        - dotenv
        - azure.functions
        - fastapi
        - supabase
