# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions==1.24.0
fastapi==0.124.4
nest-asyncio==1.6.0
pydantic==2.12.5
supabase==2.26.0
supabase-auth==2.26.0
supabase-functions==2.26.0
